.jobs-container {
    width: 100%;
    overflow-x: scroll;
}

.jobs-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.jobs-container::-webkit-scrollbar {
}

@media screen and (max-width: 600px) {
    .jobs-container::-webkit-scrollbar {
    }
}