@import url(./reset.css);
@import url(./variable.css);

.theme {
    background-color: var(--primary-theme);
    color: var(--primary-theme-color);
}

.main-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}

.form-title {
    font-weight: 500;
    font-size: 30px;
}

main {
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}

section {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 10px;
    min-height: 100dvh;
}

main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

.primary-btn {
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
    border: 1px solid var(--primary-theme);
    transition: all 0.25s ease-in-out;

    &:hover {
        background-color: var(--primary-theme);
        color: var(--primary-theme-color)
    }
}

.primary-btn-reverse {
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
    background-color: var(--primary-theme);
    color: var(--primary-theme-color);
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;

    &:hover {
        background-color: var(--primary-theme-color);
        border-color: var(--primary-theme);
        color: var(--primary-theme)
    }
}