@import url(./reset.css);
@import url(./variable.css);

.theme {
    background-color: var(--primary-theme);
    color: var(--primary-theme-color);
}

.main-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
}

.form-title {
    font-weight: 500;
    font-size: 30px;
}

main {
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}

section {
    padding: 50px;
}

main {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}